* {
  box-sizing: border-box;
}

body {
  background-color: #23252C;
  color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: 'Inter', sans-serif;
  
}

 .card {
  background-color: #1A1B21;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

 .card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35px; 
  padding-right: 35px; 
  width: 317px;
  border-radius: 0px;
}

/* Info */

.info--name {
  font-size: 25px;
  font-weight: 700;
  margin: 21px 0 0;
}

.info--title {
  font-size: 13px;
  font-weight: 400;
  color: #F3BF99;
  line-height: 16px;
  margin: 7px 0;
}

.info--site {
  font-size: 11px;
  font-weight: 400;
  color: #F5F5F5;
  text-decoration: none;
  margin-bottom: 24px;
}

.info--btn-section {
  display: flex;
  justify-content: space-between;
  width: 247px;
  align-items: center;
} 

 .info--btn-email, .info--btn-linkedin {
  border-radius: 6px;
  padding: 9px 18px;
  cursor: pointer;
  border: none;
} 

 .info--btn-email {
  background-color: #fff;
  color:  #374151;
}

 .info--btn-linkedin {
  background-color: #5093E2;
  color: #fff;
}

 .info--btn-email-img, 
.info--btn-linkedin-img {
  margin-right: 9px;
} 


/* About and Interests */

 .about-title,
.interests-title {
  font-size: 16px;
  font-weight: 700;
  color: #F5F5F5;
  margin-bottom: 10px;
  width: 100%;
}

 .about-title {
  margin-top: 30px;
} 

 .about-info,
.interests-info {
  font-size: 11px;
  font-weight: 400;
  color: #DCDCDC;
  line-height: 16px;
}

 .interests {
  padding-bottom: 24px;
}

/* Footer */

 .footer {
  background-color: #161619;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
} 

 .footer--container {
   margin: 20px 73px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* align-content: center; */
  width: 54%;
} 